requests
argparse
numpy
pillow==8.2.0
scipy==1.4.1
scikit-learn
nose
tqdm
matplotlib
seaborn
pandas
liac-arff
ConfigSpace
smac
torch
torchvision
torchsummary
jupyter

# add your requirements below this line
